<h2>Shopping List History</h2>
<h4 id="message"><%= @message %></h4>
<div class="d-flex justify-content-end">
  <div class="p-2"><a href="/add/item" class="btn btn-primary">Add Item</a></div>
</div>
<% for chain in @chains_all %>
  <h4><%= chain[:chain_name] %></h4>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Item</div>
      <div class="col col-2">Detail</div>
      <div class="col col-3">Created by</div>
      <div class="col col-4">Created at</div>
      <div class="col col-5">Status</div>
      <div class="col col-6">Changed by</div>
      <div class="col col-7">Changed at</div>
    </li>
    <% for item in @items_all %>
      <% if item[:chain_id] == chain[:chain_id] %>
        <li class="table-row">
          <div class="col col-1" data-label="Item"><%= item[:item_name] %></div>
          <div class="col col-2" data-label="Detail"><%= item[:detail] %></div>
          <div class="col col-3" data-label="Created by"><%= item[:created_by_name] %></div>
          <div class="col col-4" data-label="Created at"><%= item[:created_at].strftime("%m/%d/%Y")%></div>
          <div class="col col-4" data-label="Status"><%= item[:status_name] %></div>
          <div class="col col-4" data-label="Changed at"><%= item[:status_changed_by_name] %></div>
          <div class="col col-4" data-label="Changed at"><%= item[:status_changed_at].strftime("%m/%d/%Y")%></div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
