<h2>Shopping List History</h2>
<h4 id="message"><%= @message %></h4>
<div class="d-flex justify-content-end">
  <div class="p-2"><a href="/add/item" class="btn btn-primary">Add Item</a></div>
</div>
<% for chain in @chains_all %>
  <h4><%= chain[:chain_name] %></h4>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Detail</th>
          <th>Created by</th>
          <th>Created at</th>
          <th>Status</th>
          <th>Changed by</th>
          <th>Changed at</th>
        </tr>
      </thead>
      <tbody>
        <% for item in @items_all %>
          <% if item[:chain_id] == chain[:chain_id] %>
            <tr>
              <td><%= item[:item_name] %></td>
              <td><%= item[:detail] %></td>
              <td><%= item[:created_by_name] %></td>
              <td><%= item[:created_at].strftime("%m/%d/%Y")%></td>
              <td><%= item[:status_name] %></td>
              <td><%= item[:status_changed_by_name] %></td>
              <td><%= item[:status_changed_at].strftime("%m/%d/%Y")%></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
