<H2>Shopping List History</H2>
<% if @message %>
<H4><%= @message %></H4>
<% end %>

<br>
<a href="/add/item" class="btn btn-primary">Add Item</a>
<br>

<table class="table text-white">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Detail</th>
      <th scope="col">Chain</th>
      <th scope="col">Created by</th>
      <th scope="col">Created at</th>
      <th scope="col">Status</th>
      <th scope="col">Status changed by</th>
      <th scope="col">Status changed at</th>
    </tr>
  </thead>
  <tbody>
    <% for item in @items_all %>
    <tr>
      <th scope="row"><%= item[:id] %></th>
      <td><%= item[:item_name] %></td>
      <td><%= item[:detail] %></td>
      <td><%= item[:chain_id] %>: <%= item[:chain_name] %></td>
      <td><%= item[:created_by] %>: <%= item[:user_name] %></td>
      <td><%= item[:created_at] %></td>
      <td><%= item[:status_name] %></td>
      <td><%= item[:status_changed_by] %></td>
      <td><%= item[:status_changed_at] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

