Hello, <%= @current_user[:user_name] %>.
<br>
<%= session[:user_id] %>
<br>
<%= @current_user[:id] %>
<br>
<%= @current_user[:user_name] %>
<br>
<%= @current_user[:email] %>


<br>
<a href="/">/</a>
<br>
<a href="/login">/login</a>
<br>
<a href="/signup">/signup</a>
<br>
<a href="/list">/list</a>
<br>
<a href="/list/map">/list/map</a>
<br>
<a href="/add/item">/add/item</a>
<br>
<a href="/history">/history</a>
<br>
<a href="/history/calendar">/history/calendar</a>
<br>
<a href="/logout" class="btn btn-secondary">Log Out</a>