<H2>Shopping List</H2>
<% if @message %>
  <H4><%= @message %></H4>
<% end %>
<br>
<a href="/add/item" class="btn btn-primary">Add Item</a>
<br>

<% for chain in @chains_created %>
  <div id="accordion<%= chain[:chain_id] %>">
    <div class="card bg-dark text-white">
      <div class="card-header" id="heading<%= chain[:chain_id] %>">
        <h5 class="mb-0">
          <button class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#collapse<%= chain[:chain_id] %>" aria-expanded="true" aria-controls="collapse<%= chain[:chain_id] %>">
            <%= chain[:chain_name] %>
          </button>
        </h5>
      </div>
      <div id="collapse<%= chain[:chain_id] %>" class="collapse show" aria-labelledby="heading<%= chain[:chain_id] %>" data-parent="#accordion<%= chain[:chain_id] %>">
        <div class="card-body">
          <% for item in @items_created %>
            <% if item[:chain_id] == chain[:chain_id] %>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="<%= item[:id] %>"<% if item[:status_id] != 1 %> checked<% end %>>
                <label class="custom-control-label" for="<%= item[:id] %>"><%= item[:item_name] %>, <%= item[:detail] %></label>
              </div>
              <br>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
