<h2>Stores</h2>
<% for chain in @chains_all %>
  <div class="accordion acc-movie">
    <div class="row">
      <% for store in @stores_all %>
        <% if store[:chain_id] == chain[:chain_id] %>
          <div class="col-sm-6 card-margin">
            <div class="card text-white bg-dark mb-6 z-depth-1-half">
              <iframe class="card-img-top img-fluid" frameborder="0" style="border: 0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw&q=<%= store[:latitude] %>,<%= store[:longitude] %>&zoom=12" allowfullscreen>
              </iframe>
              <div class="card-body">
                <h5 class="card-title"><%= chain[:chain_name] %> <%= store[:branch] %></h5>
                <p class="card-text"><%= store[:address] %></p>
                <a href="https://www.google.com/maps/dir/?api=1&origin=<%= @lat_long %>&destination=<%= store[:latitude] %>,<%= store[:longitude] %>" class="btn btn-outline-secondary" target="_blank">Directions</a>
              </div>
            </div>
          </div>
        <% end%>
      <% end %>
    </div>
  </div>
<% end %>


